<%- include('header'); %>

<h1>Profile</h1>
<div>
    <%= [user.name, user.username, user.phone, user.email, and user.address] %>
</div>
<br><a href="/">Back to Account Summary</a>


<%- include('footer'); %>